.profileInfoContainer{
    display: flex;
    min-height: 425px;
    background-color: white;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 75%;
    min-width: 500px;
    max-width: 900px;
    flex-direction: column;
}
.backgroundContainer{
    width: 100%;
    background-color: red;
    height: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.background{
    margin-bottom: -90px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profilePictureContainer{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: lightgray;
    margin-left: 8%;
}
.profilePicture{
    height: 100%;
    width: 100%;
}
.userInfoContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.infoSubContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0.2;
}
.userDetails2{
    margin-left: 8%;
    margin-top: 5px;
    width: 40%;
}
.userName2{
    font-size: 26px;
    font-weight: bold;
}
.userEmail2{
    font-size: 15px;
    color: rgb(85, 85, 85);
    padding-left: 3px;
}
.userNameAndStatus2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.recruiterStatusContainer{
    background-color: rgba(255, 209, 0, 0.35);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    height: 25px;
    margin-left: 15px;
    margin-top: 2px;
}
.recruiterStatusText{
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 14px;
}
.userStats{
    display: flex;
    width: 60%;
    justify-content: center;
}
.StatsContainer{
    display: flex;
    flex-direction: column;
    padding-top: 3px;
}
.statsTitle{
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    text-decoration: underline;
}
.statsContentContainer{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 25px;
}
.statContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.statContainer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 3px;
}
.statsText{
    font-size: 18px;
    padding-left: 7px;
    padding-bottom: 5px;
    font-weight: 600;
}
.aboutContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction: column;
    flex: 0.8;
    padding-top: 10px;
}
.aboutTitleContainer{
    display: flex;
    margin-left: 8%;
    flex: 0.1;
    align-items: center;
}
.interpunct2{
    padding-left: 10px;
    padding-top: 4px;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 6px;
    color: gray;
    font-weight: 600;
}
.ediSection{
    padding-left: 10px;
    padding-top: 5px;
    color: gray;
    font-weight: 500;
}
.aboutTitle{
    font-size: 24px;
    font-weight: bold;
}
.aboutContentContainer{
    display: flex;
    flex: 0.9;
    flex-direction: column;
}
.noAbout{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0.6;
}
.inputFieldContainer{
    width: 100%;
    padding-left: 6%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.aboutContent{
    display: flex;
    flex: 0.6;
    padding-left: 8%;
    padding-right: 6%;
    padding-top: 10px;
    padding-bottom: 25px;
    white-space: pre-line;
}
.astext3{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: gray;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}
.logoutText{
    padding-left: 3px;
    padding-top: 2px;
}