.container{
    display: flex;
    height: 100%;
    flex-direction: column;
}
.informationContainer{
    display: flex;
    flex-direction: row;
    flex: 0.3;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.subInformatioContainer{
    display: flex;
    flex: 0.1;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 1%;
    top: 2%
}
.subInformatioContainer2{
    display: flex;
    flex: 0.8;
    flex-direction: column;
    padding-left: 6%;
    padding-top: 1%;
}
.subInformatioContainer3{
    display: flex;
    flex: 0.1;
}
.title{
    font-weight: bold;
    font-size: 20px;
}
.userInfo{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.pictureContainer{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: lightgray;
    border-radius: 20px;
}
.profilePic{
    width: auto;
    max-width: 100%;
    object-fit:cover;
    border-radius: 25px;
}
.extraInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
}
.userName{
    font-weight: 300;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.date{
    color: gray;
    font-size: 12px;
}
.tagContainer{
    background: rgba(126, 155, 255, 0.15);
    border-radius: 10px;
    margin-top: 10px;
}
.tag{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(126, 155, 255, 1);
    text-align: center;
}
.descriptionContainer{
    display: flex;
    flex: 0.63;
    padding-top: 3.5%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    min-width: 0;
}
.description{
    display: flex;
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: pre-line;
    min-width: 0
}
.buttonsContainer{
    display: flex;
    flex: 0.25;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3%;
}
.bookmarkContainer{
    margin-right: 10px;
    border-radius: 100px;
    padding-bottom: 2px;
}
.likeContainer{
    margin-left: 10px;
    margin-right: 10px;
}
.commentContainer{
    background: rgba(126, 155, 255, 0.15);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.commentIcone{
    color: rgba(126, 155, 255, 1);
}
.commentText{
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 700;
    color: rgba(126, 155, 255, 1);
}
.recruiterContainer{
    margin-left: 15px;
    background-color: rgba(255, 209, 0, 0.35);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    height: 30px;
}
.recruiterText{
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 600;
    font-size: 14px;
}
.astext2 {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-weight: 300;
    font-size: 16px;
}
